{% extends "posts/post_base.html" %}

{% load django_bootstrap5 %}

{% block post_content %}


{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {% if message.extra_tags == 'group_not_joined' %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><div class="alert alert-danger" role="alert" id="myAlert">
                    You are not a member of this group
                </div></li>
            {% endif %}
        {% endfor %}
        
    </ul>
{% endif %}

<div class="col-md-6">
    <div class="list-group">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-primary mb-3">
                    <div class="card-header"><h3>Create New Post</h3></div>
                    <div class="card-body">
                        <form action="{% url 'posts:create' %}" method="POST" id='postForm'>
                            {% csrf_token %}
                            {%bootstrap_form form%}
                            <input type="submit" value="Post" class="btn btn-primary btn-large">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<script>
    $(document).ready(function() {
        // Automatically fade out alert after 5 seconds
        setTimeout(function() {
            $('.error').fadeOut('slow', function() {
                $(this).remove();
            });
        }, 2000);
    });
</script>
{% endblock %}
